@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Аутентификация</PageTitle>

<h1>Вы аутентифицированы</h1>

<AuthorizeView>
    Здравствуйте @context.User.Identity?.Name!
</AuthorizeView>
