@page "/сontrol"
@rendermode InteractiveServer
@inject IDataService data
@attribute [Authorize]

<PageTitle>Управление</PageTitle>

<h1>Управление сотрудниками</h1>

<div class="container">
    @if (employees == null)
    {
        <tr>
            <td colspan="5">Loading ...</td>
        </tr>
    }
    else
    {
        <div class="card-group">
            @foreach (var employee in employees)
            {
                <div class="card">
                    <div class="card-header">
                        @employee.Name
                    </div>
                    <div class="card-body">
                        <p>@employee.Position</p>
                        <p>@employee.Time</p>
                        <p>@employee.Salary</p>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    IEnumerable<EmployeeItem>? employees;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        employees = await data.GetEmployeeItemsAsync();
    }
}